	/* #first-area */

div#first-area {
	display: flex;
	align-items: center;
	justify-content: center;
}
.bg-video {
	display: block;
	height: 570px;
	width: 72em;
	background-size: cover;
	overflow: hidden;
	z-index: 0;
	position: relative;
}
div.text {
	color: #fff;
	font-size: 2em;
	text-transform: uppercase;
	text-shadow: 0 .5px 5px rgb(74, 46, 46);
	padding: 0 5em;
	position: absolute;
	text-align: center;
}
