	/* #first-area */

div#first-area {
	display: flex;
	align-items: center;
	justify-content: center;
}
#bg-vid {
	width: 100%;
	transform: translateY(-65px);
	overflow: hidden;
	z-index: -1;
	position: relative;
	border-radius: 15px;
	margin-bottom: 0;
}
div#text-m {
	color: #fff;
	font-size: 2.5em;
	font-weight: 600;
	text-transform: uppercase;
	text-shadow: 0 .5px 5px rgb(74, 46, 46);
	position: absolute;
	width: 800px;
	text-align: center;
	line-height: 1.2;
	transform: translateY(-40px);
}

@media screen and (min-width: 62em) {
	#bg-vid {
		transform: translateY(-100px);
	}
	div#text-m {
		width: 1000px;
		transform: translateY(-30px);
	}
}