	/* #footer-area */

footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	background-color: #3b3737;
	padding: 15px 120px 15px 0;
}
footer div.f-logo {
	flex: 0 200px;
	margin: 15px 4em;
}
.footer-info {
	flex: 1 20px 30px;
	margin-right: 50px;
	color: #fff;
	transform: translateX(50px);
}
.footer-info a {
	color: #fff;
}
.footer-info a:hover {
	color: rgb(255, 157, 0);
}

@media screen and (min-width: 62em) {
	footer {
		padding: 15px 150px 15px 0;
	}
}

/* button UP*/
#go-top {
  position: fixed; 
  bottom: 55px; 
  right: 40px;
  text-align: center;
  cursor:pointer; 
  display:none;
  width: 3em;
  height: 3em;
  background: #c0c0c0;
  line-height: 3em;
  border-radius: 50px;
}
#go-top:hover {
  background: rgb(255, 157, 0);
  color: #fff;
}