	/* #footer-area */

footer {
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
	background-color: #3b3737;
	align-items: stretch;
	padding: 15px 0;
}
footer div.f-logo {
	flex: 0 0 200px;
	flex-wrap: nowrap;
	margin: 15px 4em;
}
.f-button-top {
	flex: 1 0 auto;
	width: 200px;
	height: 100px;
}
.footer-info {
	flex: 1 0 auto;
	flex-wrap: nowrap;
	width: 200px;
	height: 100px;
}
	




#go-top {
  position: fixed; 
  bottom: 35px; 
  right: 40px;
  text-align: center;
  cursor:pointer; 
  display:none;
  width: 3em;
  height: 3em;
  background: #c0c0c0;
  line-height: 3em;
  border-radius: 50px;
}

#go-top:hover {
  background: rgb(255, 157, 0);
  color: #fff;
}