	/*Header styles*/

.masthead {
    background-image: url(../image/header-background.jpg);
	background-size: cover;
/*	background-color: hsl(35, 94%, 58%);*/
	z-index: 2;
	height: 100px;
/*	margin: 0 11%;*/
	padding: 1em auto;
	flex: 1 auto;
	display: flex;
	
	
}

.site-logo {
    margin: 0 auto;
    padding: 0;
	height: 100px;
	width: auto;
/*	flex:1;*/
	position: relative;
}


/*
@media screen and (min-width: 44.44em) {
    .site-title {
        font-size: 2em;
    }
}
    
@media screen and (min-width: 50em) {
    .site-title {
        font-size: 2.5em;
    }
}

.site-text a {
    color: hsl(5, 45%, 95%);
    text-decoration: none;
}

.site-text a:hover {
    text-decoration: underline;
}*/
