	/*Header styles*/

.clear {
	background-color: #fff;
	z-index: 2;
	transform: translateY(2px);
}
.masthead {
    background-image: url(../image/background-krystal.jpg);
	background-size: cover;
	transform: translateY(-2px);
}
.site-logo {
    margin: 0 auto;
    padding: 8px 0 0;
	height: 200px;
	width: auto;
	position: relative;
}

@media screen and (min-width: 62em) { 
	.site-logo {
    	margin: 0 auto;
    	padding: 7px 0 0;
		height: 100px;
		width: auto;
		position: relative;
	}
}
