	/*Header styles*/

.masthead {
    background-image: url(../image/header-background.jpg);
	background-size: cover;
}

.site-logo {
    margin: 0 auto;
    padding: 0;
	height: 200px;
	width: auto;
	position: relative;
}

@media screen and (min-width: 62em) { 
	.site-logo {
    	margin: 0 auto;
    	padding: 5px 0 0;
		height: 100px;
		width: auto;
		position: relative;
	}
}
