*, *:before, *:after {box-sizing: border-box}
body { 	
	font-family: 'Maven Pro', sans-serif;
	margin: 0;
}


@media (max-width: 956px) {
	.text {
	font-size: 4em;
	transform: translateY(70px);
}	
}

@media (max-width: 908px) {
	.menu {
		flex: auto;
		justify-content: center;
	}
	.logo {
		transform: translateX(-1em);
	}
	.text {
		font-size: 3em;
		transform: translateY(220px);
}

@media (max-width: 722px) {
	.text {
		font-size: 3em;
		transform: translateY(170px);
	}
}
