*, *:before, *:after {box-sizing: border-box}
body { 	
	font-family: 'Maven Pro', sans-serif;
	margin: 0;
}

@media (max-width: 933px) {
body {
	width: 100%;
	margin: 0;
}
header {
	padding: 2% 5%;
}
.text {
	font-size: 3em;
	padding: 13% 2em 0 2em;
}
}
@media (max-width: 700px) {
body {
	width: 100%;
	margin: 0;
}
header {
	padding: 2% 5%;
}
.text {
	font-size: 2em;
	padding: 6em 2em 0 2em;
}
}