	/* #second-area */

#second-area {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items:center;
	transform: translateY(-50px);
	margin: 2em;
}
#sa-img {
	width: 110%;
}
.table {
	text-align: center;
}
div.table-subtitle p {
	text-transform: uppercase;
	font-size: 1.3rem;
	font-weight: 100;
	color: #9fa4af;	
	margin-bottom: 0;
}
.table p {
	font-size: 1.7rem;
	font-weight: 600;
	display: inline-block;
	line-height: 1.4;
	margin: 0;
	color: hsl(35, 55%, 30%);
}
.table h2 {
	color: rgb(255, 157, 0);
	font-size: 6rem;
	margin: 0;
}
.table div p::before {
	content: '';
	width: 20px;
	height: 5px;
	background-color: #ff8900;
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
	margin-top: -3px;
}
.table div p::after {
	content: '';
	width: 20px;
	height: 5px;
	background-color: #ff8900;
	display: inline-block;
	vertical-align: middle;
	margin-left: 5px;
	margin-top: -3px;
}

@media screen and (min-width: 62em) {
	#second-area {
		margin: 0;
	}
	#sa-img {
		flex: 1 0 auto;
		width: 100%;
	}
	.table {
		flex: 1;
		text-align: right;
	}
}