		/* header */
.u {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
.masthead {
/*	display: flex;*/
	flex-wrap: wrap;
	justify-content: space-between;
	background: url(../image/header-background.jpg);
	background-size: cover;
	position: fixed;
	z-index: 2;
	width: 100vw;
}
.logo {
	margin-left: 5em;
	width: 220px
}
.menu-section {
	margin: auto 1em auto auto;
}
.single-nav ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
.single-nav li {
        flex: 1 0 auto;
        text-align: center;
		padding: ;
		margin: 1em;
		list-style: none;
    }
.menu-link {
	color: #fff;
	text-decoration: none;
	font-weight: 900;
}
.store-btn {
	border: 1px solid #fff;
	padding: 8px 15px;
	border-radius: 100px;
	text-transform: uppercase;
	margin-left: 1em;
}
		/* header-end */

.main-area {
/*	background-color: #afafaf;*/
}
		/* #first-area */
#first-area {
	display: flex;
	flex-wrap: nowrap;
}
.bg-video {
	flex: 1;
	z-index: 0;
	height: 550px;
	width: 10%;
	background-size: cover;
	overflow: hidden;
}
.text {
	display: flex;
	position: absolute;
	flex-wrap: nowrap;
	z-index: 1;
	text-align: center;
/*	width: 100%;*/
	color: #fff;
	padding: 0;
	font-size: 4vw;
	text-transform: uppercase;
	text-shadow: 0 .5px 5px rgb(74, 46, 46);
}
		/* #first-area */

		/* #second-area */
#second-area {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
/*	justify-items: center;*/
/*	align-items: center;*/
/*	justify-content: space-around;*/
/*	align-content: space-around;*/
/*	flex-flow: column wrap;*/
	height: 100%;
/*	align-items: center;*/
	justify-content: space-between;
}
#sa-img {
	margin-top: 50px;
	flex: 1 0 200px;
	width: 50%;
	height: 50%;
}
#sa-honey-icon {
	flex: 1;
	margin-top: 8px;
	margin-bottom: 8px;
}
.table {
	width: 40%;
	margin-right: 30px;
	flex: 1 0 300px;
/*	height: 100vh;*/
/*	min-height: 200px;*/
	padding-top: 9rem;
	padding-bottom: 100px;
}
.table-header {
	text-align: right;
/*	margin-right: 7em;*/
	margin-top: -5em;
}
.table-header span {
	text-transform: uppercase;
	font-size: 1.4rem;
	color: #9fa4af;
}
.table-header p {
	font-size: 1.8rem;
	display: inline-block;
	line-height: 1.4;
	margin: auto;
}
.table-header h2 {
	color: #ffba00;
	font-size: 6rem;
	margin: 1rem;
}
.table-header span::after {
	content: '';
	width: 15px;
	height: 1px;
	background-color: #ff8900;
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
	margin-top: -3px;
}
.table-header span::before {
	content: '';
	width: 15px;
	height: 1px;
	background-color: #ff8900;
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	margin-top: -3px;
}
		/* #second-area end */

		/* #third-area */
#third-area {
	display: flex;
	flex-wrap: wrap;
}
#third-area #ta-honey-bg {
	flex: 1;
	height: 100%;
	background-size: cover;
	overflow: hidden;
	image-rendering: -moz-crisp-edges; /* Firefox */
    -ms-interpolation-mode: nearest-neighbor;  /* IE */
    image-rendering: crisp-edges; /* Стандартное свойство */
}
		/* #third-area end */

footer {
	display: flex;
	flex-wrap: wrap;
	background-color: #3b3737;
}
.p-footer {
	flex: 3;
	justify-content: center;
	width: 300px;
}