	/* #third-area */

#third-area {
	display: flex;
	justify-content: space-around;
	align-items:center;
	transform: translateY(-60px);
	z-index: -1;
}
#ta-honey-bg {
	flex: 1;
	opacity: 0.98;
	background-color:#000;
	border-radius: 15px;
	box-shadow: 1px 0 35px rgba(0, 0, 0, 0.4);
	z-index: 1;
}
#third-area:hover {
	box-shadow: 1px 0 35px rgb(82, 58, 58, 0.82);
	border-radius: 15px;
	
}
div.text-third {
	color: #fff;
	font-size: 1.8em;
	font-weight: 600;
	text-transform: uppercase;
	position: absolute;
	width: 800px;
	text-align: center;
	text-shadow: 1px 2px 4px #4e3814;
	z-index: 2;
}
div.map {
	margin-bottom: 0;
	height: 350px;
	border-radius: 5px;
	box-shadow: 1px 0px 35px rgba(0, 0, 0, 0.24);
	transform: translateY(-51px);
}
div#second-area a {
	text-decoration: none;
	color: white;
}

@media screen and (min-width: 62em) {
	div.text-third {
		font-size: 2.4em;
		width: 900px;
	}
}