<!DOCTYPE html>
<html lang="ru">
<head>
	<link rel="shortcut icon" href="image/favicon.ico" type="image/x-icon">
	<title>Мёдов Край</title>
	<link href="https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../style-menus.css" type="text/css" media="all">
	
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script><!-- button UP -->

</head>

<body>
   
    <header class="masthead">
		<div class="centered">
			<div>
				<a href="../index.html" title=""><img class="site-logo" src="../image/honey-DR-logo-white-MY.png" alt="logo"/></a>
			</div><!-- .site-title -->
		</div><!-- .centered -->
	</header><!-- .masthead -->

	<main class="main-area">
		<nav id="singlenav" class="single-nav menu" role="navigation">
			<ul>
				<li class="menu-link it"><a href="../index.html" title="домой">Домой</a></li>
				<li class="menu-link"><a href="../views/about.html" title="о нас">О нас</a></li>
				<li class="menu-link"><a href="#" title="интересное">Интересное</a></li>
				<li class="menu-link store"><a class="store-a" href="../views/store.html" title="магазин">Магазин</a></li>
			</ul>
		</nav>
		
	
	<div class="centered">
		<section class="cards">

			<article class="card" style="background-color:#fdc13b">
				<a href="#">
					<picture class="thumbnail">
						<img src="../image/recipes/Honey-Breakfast-Cake.png" alt="A banana that looks like a bird">
					</picture>
					<div class="card-content">
						<h2 style="color:#fff; text-align: center">Медовый хлеб на завтрак</h2>
						<p><b>ИНГРЕДИЕНТЫ</b><br/><b>Для теста:</b><br/>2 чашки - муки 1 сорт<br/>1 ч. л. - порошок для выпечки<br/>1 ч. л. - пищевая сода<b>...</b>
					</div><!-- .card-content -->
				</a>
			</article><!-- .card -->

			<article class="card" style="background-color:#63ba4d">
				<a href="#">
					<picture class="thumbnail">
						<img src="../image/recipes/NHB_Ginger_Turmeric_Cardamom_Buckwheat_Honey_Oatmeal_PLACEMENT-COMP.png" alt="Norwegian boller">
					</picture>
					<div class="card-content">
						<h2 style="color:#fff; text-align: center">Овсянка с гречневым мёдом</h2>
						<p><b>ИНГРЕДИЕНТЫ</b><br/>1/2 стакана - молока<br/>1 пакетик (около 1 унции) - овсяная каша быстрого приготовления<b>...</b>
					</div><!-- .card-content -->
				</a>
			</article><!-- .card -->

			<article class="card" style="background-color:#e77731">
				<a href="#">
					<picture class="thumbnail">
						<img src="../image/recipes/No-Bake-Chocolate-Peanut-Butter-Oat-Balls-75.png" alt="A dinosaur wearing an aluminium jacket">
					</picture>
					<div class="card-content">
						<h2 style="color:#fff; text-align: center">Энергетические медовые шарики</h2>
						<p><b>ИНГРЕДИЕНТЫ</b><br/>1/2 стакана - мелко нарезанный арахис<br/>1 1/2 чашки - овес, разделенный<b>...</b>
					</div><!-- .card-content -->
				</a>
			</article><!-- .card -->

			<article class="card" style="background-color:#ad4662">
				<a href="#">
					<picture class="thumbnail">
						<img src="../image/recipes/citrus-fruit-salad-with-honey-mint-lime-syrup.png" alt="Chocolate filled boller">
					</picture>
					<div class="card-content">
						<h2 style="color:#fff; text-align: center">Цитрусовый салат с медово-мятным сиропом и лаймом</h2>
						<p><b>ИНГРЕДИЕНТЫ</b><br/><b>Для мёдо-мятного лаймового сиропа:</b><br/>1/4 стакана меда<br/>1/4 стакана сока лайма<b>...</b>
					</div><!-- .card-content -->
				</a>
			</article><!-- .card -->

			<article class="card" style="background-color:#f79d4a">
				<a href="#">
					<picture class="thumbnail">
						<img src="../image/recipes/southwest-salmon-and-black-bean-salad-with-honey-cilantro-lime-dressing.png" alt="Chocolate frog on oranges">
					</picture>
					<div class="card-content">
						<h2 style="color:#fff; text-align: center">Салат из фасоли с медово-лаймовой заправкой</h2>
						<p><b>ИНГРЕДИЕНТЫ</b><br/><b>Для заправки:</b><br/>1 т - меда<br/>3 1/2 T - сок лайма, свежевыжатый<b>...</b>
					</div><!-- .card-content -->
				</a>
			</article><!-- .card -->

			<article class="card" style="background-color:#9ecd76">
				<a href="#">
					<picture class="thumbnail">
						<img src="../image/recipes/pb-honey-breakfast-banana-split-hi-res.png" alt="A whiskey jack taking a dive">
					</picture>
					<div class="card-content">
						<h2 style="color:#fff; text-align: center">Медовое масло для завтрака с бананом</h2>
						<p><b>ИНГРЕДИЕНТЫ</b><br/>1/2 стакана йогурта<br/>1 т - арахисовое масло<br/>1 ч. л. - мёда<br/>щепотка - корицы<b>...</b>
					</div><!-- .card-content -->
				</a>
			</article><!-- .card -->

		</section><!-- .cards -->
	</div><!-- .centerd -->
<footer>
	<div class="f-logo"><a href="../index.html" title="домой"><img src="../image/homepage-DR-footer-logo.png" alt="logo"></a></div>

	<div class="footer-info">
		<ul>
			<li class="phone"><i class="fas fa-mobile-alt"></i><strong> &nbsp;&nbsp;+7 (905) 983-55-70</strong></li>
			<li class="phone"><i class="fas fa-mobile-alt"></i><strong> &nbsp;&nbsp;+7 (905) 981-02-79</strong></li>
			<li class="mail"><i class="far fa-envelope-open"></i> &nbsp;&nbsp;<a href="mailto:denrol@ya.ru" title="mail">Почта</a></li>
			<li class="copyright">&copy; <span id="year"></span>, Мёдов Край </li>
		</ul>
	</div>
	
</footer>
</main>
<script><!-- New Year -->
	document.getElementById("year").innerHTML = new Date().getFullYear();
</script>

<script><!-- button UP -->
	$(document).ready(function(){
	  $('body').append('<a href="#" id="go-top" title="Вверх"><i class="fas fa-angle-double-up"></i></a>');
	});

	$(function() {
	 $.fn.scrollToTop = function() {
	  $(this).hide().removeAttr("href");
	  if ($(window).scrollTop() >= "250") $(this).fadeIn("slow")
	  var scrollDiv = $(this);
	  $(window).scroll(function() {
	   if ($(window).scrollTop() <= "250") $(scrollDiv).fadeOut("slow")
	   else $(scrollDiv).fadeIn("slow")
	  });
	  $(this).click(function() {
	   $("html, body").animate({scrollTop: 0}, "slow")
	  })
	 }
	});

	$(function() {
	 $("#go-top").scrollToTop();
	});
</script>
	
</body>
</html>