<!DOCTYPE html>
<html lang="ru">
<head>
	<link rel="shortcut icon" href="image/favicon.ico" type="image/x-icon">
	<title>Мёдов Край</title>
	<link href="https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../style-menus.css" type="text/css" media="all">
	
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script><!-- button UP -->

</head>

<body>
   
    <header class="masthead">
		<div class="centered">
			<div>
				<img class="site-logo" src="../image/honey-DR-logo-white-MY.png" alt="logo"/>
			</div><!-- .site-title -->
		</div><!-- .centered -->
	</header><!-- .masthead -->

	<main class="main-area">
		<nav id="singlenav" class="single-nav menu" role="navigation">
			<ul>
				<li class="menu-link it"><a href="../index.html" title="домой">Домой</a></li>
				<li class="menu-link"><a href="../views/about.html" title="о нас">О нас</a></li>
				<li class="menu-link"><a href="#" title="интересное">Интересное</a></li>
				<li class="menu-link store"><a class="store-a" href="../views/store.html" title="магазин">Магазин</a></li>
			</ul>
		</nav>
		
	</main>
	
<footer>
	<div class="f-logo"><img src="../image/homepage-DR-footer-logo.png" alt="logo"></div>

	<div class="footer-info">
		<ul>
			<li class="phone"><i class="fas fa-mobile-alt"></i><strong> &nbsp;&nbsp;+7 (905) 983-55-70</strong></li>
			<li class="phone"><i class="fas fa-mobile-alt"></i><strong> &nbsp;&nbsp;+7 (905) 981-02-79</strong></li>
			<li class="mail"><i class="far fa-envelope-open"></i> &nbsp;&nbsp;<a href="mailto:denrol@ya.ru" title="mail">Почта</a></li>
			<li class="copyright">&copy; <span id="year"></span>, Мёдов Край </li>
		</ul>
	</div>
	
</footer>

<script><!-- New Year -->
	document.getElementById("year").innerHTML = new Date().getFullYear();
</script>

<script><!-- button UP -->
	$(document).ready(function(){
	  $('body').append('<a href="#" id="go-top" title="Вверх"><i class="fas fa-angle-double-up"></i></a>');
	});

	$(function() {
	 $.fn.scrollToTop = function() {
	  $(this).hide().removeAttr("href");
	  if ($(window).scrollTop() >= "250") $(this).fadeIn("slow")
	  var scrollDiv = $(this);
	  $(window).scroll(function() {
	   if ($(window).scrollTop() <= "250") $(scrollDiv).fadeOut("slow")
	   else $(scrollDiv).fadeIn("slow")
	  });
	  $(this).click(function() {
	   $("html, body").animate({scrollTop: 0}, "slow")
	  })
	 }
	});

	$(function() {
	 $("#go-top").scrollToTop();
	});
</script>
	
</body>
</html>